body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.header {
    background-color: #BFBBB8;
    color: #dadada;
    padding: 0 200px;
    border-bottom: 3px solid #324a5e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.my-post-panel {
    background-color: #f9f9f9;
    padding: 26px;
}

.custom-post-item {
    font-size: smaller;
    background-color: #fff;
    transition: transform 0.2s;
    color: #fff;
    border: 1px solid #324a5e;
    padding: 10px;
    width: 350px;
}

.custom-post-item:hover {
    transform: translateX(15px);
    text-decoration: none;
    color: #ffffff;
    background-color: #688a91;

}

.custom-link {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

.text-title{
    color: red;
}

.custom-link:hover {
    text-decoration: underline;
}


input[type="text"], textarea {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}
/*
.ui-button-raised {
    background-color: #324a5e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.ui-button-raised:hover {
    background-color: #BFBBB8;
}*/

.footer {
    border-top: 3px solid #000000;
    background-color: #2B7B8C;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.footer p {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}


